extends layout

block content
  #container
    h2 Daily Results

    table#tblResults
      thead
        th Date
        th Start Time
        th End Time
        th Duration
        th Probability
      tbody#tblResultsBody
        td.date &nbsp;
        td.start &nbsp;
        td.end &nbsp;
        td.duration &nbsp;
        td.prob &nbsp;

  script(type='text/javascript', src= '/javascripts/gCycle.js')
